<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Borrow System</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/bg-nav.css">
    <link rel="stylesheet" href="/public/css/index/home.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-brand px-2">
                <a class="navbar-brand" href="#">Home</a>
            </ul>
            <ul class="nav  justify-content-end">
                <li class="nav-item ">
                    <button class="nav-link text-black" id="loginbtn">Login</button>
                </li>
                <li class="nav-item ">
                    <button class="nav-link text-black" id="registerbtn">Register</button>
                </li>
            </ul>
        </div>
    </nav>

   <!-- body -->
  <div class="midtext">
     <h1>Book Borrow system <hr></h1>
     
  </div>
  <div style="height: 20px"></div>
            <div class="pic-ctn">
                <img src="/public/img/Doraemon.png" alt="" class="pic">
                <img src="/public/img/game of thrones.png" alt="" class="pic">
                <img src="/public/img/harry potter 2.png" alt="" class="pic">
                <img src="/public/img/HarryPotter.png" alt="" class="pic">
                <img src="/public/img/Rick boss.png" alt="" class="pic">
            </div>
        </div>
        <div style="height: 10px"></div>
    <script>
        // ----NAV-----
        document.querySelector("#loginbtn").onclick = function () {
            window.location.href = "/views/index/login.html";
        };
        document.querySelector("#registerbtn").onclick = function () {
            window.location.href = "/views/index/register.html";
        };
    </script>
</body>

</html>