<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Borrow System</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/bg-nav.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-brand px-2">
                <a class="navbar-brand" href="#">Home</a>
            </ul>
            <ul class="nav  justify-content-end">
                <li class="nav-item ">
                    <button class="nav-link text-black" id="loginbtn">Login</button>
                </li>
                <li class="nav-item ">
                    <button class="nav-link text-black" id="registerbtn">Register</button>
                </li>
            </ul>
        </div>
    </nav>
    <script>
        // ----NAV-----
        document.querySelector("#loginbtn").onclick = function () {
            window.location.href = "/login";
        };
        document.querySelector("#registerbtn").onclick = function () {
            window.location.href = "/register";
        };
    </script>
</body>

</html>