<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/bg-nav.css">
    <link rel="stylesheet" href="/public/css/index/Re-login.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-brand px-2">
                <a class="navbar-brand" href="#">Login</a>
            </ul>
            <ul class="nav  justify-content-end">
                <li class="nav-item ">
                    <a class="nav-link text-black" href="/views/index/register.html">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="d-flex justify-content-center">
        <div class=" mt-5 col-md-4 col-sm-12 d-flex justify-content-center shadow" id="body">
            <div class=" py-4 text-white" id="ibody">
                <h2 class="py-2">Login</h2>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="d-grid py-2">
                        <button class="btn" id="signin">
                            Sign in
                        </button>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>