<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset List</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/sweetalert2@11.js"></script>
    <link rel="stylesheet" href="/public/css/bg-nav.css">
    <link rel="stylesheet" href="/public/css/borrower/Assetlist.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-brand px-2">
                <a class="navbar-brand" href="#">Asset List</a>
            </ul>
            <ul class="nav  justify-content-end">
                <li class="nav-item mx-1">
                    <a class="nav-link text-black disabled" href="#">Asset List</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/requestStatus">Request Status</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/history">History</a>
                </li>
                <li class="nav-item mx-1">
                    <button class="btn text-white mx-2" id="navbtn">Logout</button>
                </li>
            </ul>
        </div>
    </nav>

    <!-- body -->
    <div id="container" class="d-flex flex-wrap">
    </div>

    <script>
        // Logout
        document.querySelector("#navbtn").onclick = function () {
            Swal.fire({
                title: "Are you sure for Logout?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#FF7070",
                cancelButtonColor: "#D6D6D6",
                confirmButtonText: "Logout!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/logout";
                }
            });
        }

        // Fetch data from backend
        fetch('/getbooklist')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (error) {
                console.log("error:" + error);
            })

        // Function to handle the click event on each book item
        function onClickBookItem(bookId) {
            Swal.fire({
                title: "Are you sure to borrow this book?",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: "Yes, borrow it!",
                cancelButtonText: "Cancel"
            }).then(async function (result) {
                if (result.isConfirmed) {
                    try {
                        const response = await fetch('/sendData', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                bookId: bookId
                            })
                        });
                        const data = await response.json();
                        if (response.ok) {
                            window.location.href = data.redirectTo;
                        } else if (response.status === 400) {
                            // Display Swal.fire message indicating cannot borrow another book
                            Swal.fire({
                                icon: 'warning',
                                title: 'Cannot Borrow',
                                text: data.message
                            });
                        } else {
                            // Display error message
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: data.error || 'Something went wrong.'
                            });
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        // Handle other errors
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred while processing your request.'
                        });
                    }
                }
            });
        }

        // Function to append data to HTML
        function appendData(data) {
            let output = "";
            data.forEach(book => {
                output += `<div class="card my-3 mx-3 shadow item" style="width: 15rem; cursor: pointer" id="${book.book_id}" onclick="onClickBookItem(${book.book_id})">`;
                output += `<div class="card-body">`;
                output += `<img src="/public/img/bookimg/${book.image}" alt="${book.title}" class="card-img-top">`;
                output += `<h5 class="card-title text-white">${book.title}</h5>`;
                output += `</div>`;
                output += `</div>`;
            });

            document.querySelector("#container").innerHTML = output;
        }
    </script>

</body>

</html>
