<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/sweetalert2@11.js"></script>
    <link rel="stylesheet" href="/public/css/bg-nav.css">
    <link rel="stylesheet" href="/public/css/borrower/History.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-brand px-2">
                <a class="navbar-brand" href="#">History</a>
            </ul>
            <ul class="nav  justify-content-end">
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/borrower/Assetlist.html">Asset List</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/borrower/Requeststatus.html">Request Status</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black disabled" href="/views/borrower/History.html">History</a>
                </li>
                <li class="nav-item mx-1">
                    <button class="btn text-white mx-2" id="navbtn">Logout</button>
                </li>
            </ul>
        </div>
    </nav>
    <!-- body -->
    <div id="userinfo">
        <h3 class="text-white mx-5 py-2">User info</h3>
        <table class="table table-striped">
            <tr class="colum">
                <td>Username: </td>
            </tr>
            <tr class="colum">
                <td>Name: </td>
            </tr>
            <tr class="colum">
                <td>Email: </td>
            </tr>
        </table>
    </div>
    <!-- History -->
    <div id="userinfo">
        <h3 class="text-white mx-5 py-2">History</h3>
        <table class="table table-striped">
            <tr class="colum">
                <th>No</th>
                <th>Title</th>
                <th>Approver</th>
                <th>Date/Return Date</th>
                <th>Lender</th>
                <th>Status</th>
            </tr>
            <!-- Example history!! -->
            <tbody>
                <tr class="colum">
                    <td>1</td>
                    <td>Game of Throne</td>
                    <td>Jane smith</td>
                    <td>20/03/2567-21/03/2567</td>
                    <td>Joel Bronze</td>
                    <td class="text-success">returned</td>
                </tr>
            </tbody>

        </table>
    </div>
    <script>
       // Logout
       document.querySelector("#navbtn").onclick = function () {
            Swal.fire({
                title: "Are you sure for Logout?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#FF7070",
                cancelButtonColor: "#D6D6D6",
                confirmButtonText: "Logout!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/login";
                }
            });
        }
    </script>

</body>

</html>