<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Status</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/bg-nav.css">
    <link rel="stylesheet" href="/public/css/borrower/Requeststatus.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-brand px-2">
                <a class="navbar-brand" href="#">Request Status</a>
            </ul>
            <ul class="nav  justify-content-end">
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/borrower/Assetlist.html">Asset List</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black disabled" href="/views/borrower/Requeststatus.html">Request Status</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/borrower/History.html">History</a>
                </li>
                <li class="nav-item mx-1">
                    <button class="btn text-white mx-2" id="navbtn">Logout</button>
                </li>
            </ul>
        </div>
    </nav>
    <!-- body -->
    <div class="flex-wrap d-flex justify-content-center mt-3">
        <div class="card">
            <div class="card-body text-center">
                <img src="/public/img/game of thrones.png" class="card-img-top" alt="game of thrones">
                <div class="card-title">
                    <h5>Game of Thrones</h5>
                    <br>
                    <h5>date</h5>
                    <p>20/03/2024</p>
                    <br>
                    <h5>Return date</h5>
                    <p>20/03/2024</p>
                    <br>
                </div>
                <a href="#" id="cancel" class="btn">Cancel request</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <img src="/public/img/Doraemon.png" class="card-img-top" alt="Doraemon">
                <div class="card-title">
                    <h5>Doraemon</h5>
                    <br>
                    <h5>date</h5>
                    <p>21/03/2024</p>
                    <br>
                    <h5>Return date</h5>
                    <p>27/03/2024</p>
                    <br>
                </div>
                <a href="#" id="cancel" class="btn">Cancel request</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <img src="/public/img/HarryPotter.png" class="card-img-top" alt="Doraemon">
                <div class="card-title">
                    <h5>Harry Potter 1</h5>
                    <br>
                    <h5>date</h5>
                    <p>22/03/2024</p>
                    <br>
                    <h5>Return date</h5>
                    <p>27/03/2024</p>
                    <br>
                </div>
                <a href="#" id="cancel" class="btn">Cancel request</a>
            </div>
        </div>
    </div>
    

</body>

</html>