.card {
    margin-left: 5rem;
    height: auto;
    width: 15rem;
    border-radius: 50px;
}

.card:last-child {
    margin-right: 5rem;
}
.card .card-body img {
    max-width: 50%;
    height:auto;
}
.card .card-title{
    margin-top: 15px;
}
#cancel{
    border-radius: 50px;
    background: #FF7070;
    color: white;
}

.cancel-btn {
    background-color: #FF7070; /* Your desired background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 8px 16px; /* Adjust padding as needed */
    border-radius: 20px; /* Add border-radius for rounded corners */
}

.big-bold-text {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}
