<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset List</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/bg-nav.css">
    <link rel="stylesheet" href="/public/css/staff/Assetlist.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-brand px-2">
                <a class="navbar-brand" href="#">Asset List</a>
            </ul>
            <ul class="nav  justify-content-end">
                <li class="nav-item mx-1">
                    <a class="nav-link text-black disabled" href="/views/staff/Assetlist.html">Asset List</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/staff/Dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/staff/History.html">History</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/staff/Returnasset.html">Return Asset</a>
                </li>
                <li class="nav-item mx-1">
                    <button class="btn text-white mx-2" id="navbtn">Logout</button>
                </li>
            </ul>
        </div>
    </nav>

    <!-- body -->
    <div id="table">
        <h3 class="text-white mx-5 py-2">History 
            <button class="btn text-white float-end me-5 mt-3" id="createAsset" onclick="location.href='/views/staff/Create.html'">Create +</button>
        </h3>
        <table class="table table-striped">
            <tr class="colum">
                <th>No</th>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Lender</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            <tbody id="TB">
                <tr class="colum">
                    <td>1</td>
                    <td></td>
                    <td>Game of Throne</td>
                    <td>Johndoe007</td>
                    <td>Jame johnson</td>
                    <td class="text-success">avaliable</td>
                    <td> <button id="edit" type="button" class="btn" onclick="location.href='/views/staff/Edit.html'">Edit</button></td>
                </tr>
                
                
            </tbody>
        </table>
    </div>


</body>

</html>