<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Asset</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/sweetalert2@11.js"></script>
    <link rel="stylesheet" href="/public/css/bg-nav.css">
    <link rel="stylesheet" href="/public/css/staff/Edit.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-brand px-2">
                <a class="navbar-brand" href="#">Edit Asset</a>
            </ul>
            <ul class="nav  justify-content-end">
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/assetlist">Asset List</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/staff/Dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/staff/History.html">History</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/staff/Returnasset.html">Return Asset</a>
                </li>
                <li class="nav-item mx-1">
                    <button class="btn text-white mx-2" id="navbtn">Logout</button>
                </li>
            </ul>
        </div>
    </nav>

    <!-- body -->
    <h1 class="text-center my-5">Edit Asset</h1>
    <div id="container-body" class="d-flex">
        <div id="img">
            <input type="file" id="inpfile">
        </div>
        <div id="content">
            <div class="inp">
                <h4>Title:</h4>
                <input type="text" class="form-control" value="Harry potter">
            </div>
            <div class="inp">
                <h4>Author:</h4>
                <input type="text" class="form-control" value="JK">
            </div>
            <div class="inp">
                <h4>Lender:</h4>
                <input type="text" class="form-control" value="John Doe">
            </div>
            <div class="inp">
                <h4>Status:</h4>
                <select name="status" id="item-status" class="form-control">
                    <option value="Available" class="text-success">Available</option>
                    <option value="Available" class="text-danger">Disable</option>
                    <option value="Available" class="text-warning">Pending</option>
                    <option value="Available" class="text-danger">Borrowed</option>
                </select>
            </div>
            <div class="m-4">
                <button class="btn btn-warning button">Save</button>
                <button class="btn btn-secondary button">Cancle</button>
            </div>
        </div>
    </div>
    <script>
        // Logout
        document.querySelector("#navbtn").onclick = function () {
            Swal.fire({
                title: "Are you sure for Logout?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#FF7070",
                cancelButtonColor: "#D6D6D6",
                confirmButtonText: "Logout!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.assign("/views/index/Home.html")
                }
            });
        }
    </script>
</body>

</html>