<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/sweetalert2@11.js"></script>
    <link rel="stylesheet" href="/public/css/bg-nav.css">
    <link rel="stylesheet" href="/public/css/staff/History.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <ul class="navbar-nav navbar-brand px-2">
                <a class="navbar-brand" href="#">History</a>
            </ul>
            <ul class="nav  justify-content-end">
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/staff/Assetlist.html">Asset List</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/staff/Dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black disabled" href="/views/staff/History.html">History</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link text-black" href="/views/staff/Returnasset.html">Return Asset</a>
                </li>
                <li class="nav-item mx-1">
                    <button class="btn text-white mx-2" id="navbtn">Logout</button>
                </li>
            </ul>
        </div>
    </nav>
    <!-- body -->

    <div id="table">
        <h3 class="text-white mx-5 py-2">History</h3>
        <table class="table table-striped">
            <tr class="colum">
                <th>No</th>
                <th>Title</th>
                <th>borrower</th>
                <th>Approver</th>
                <th>Lender</th>
                <th>borrowdate</th>
                <th>returndate</th>
                <th>Status</th>
            </tr>
            <tbody id="TB">
                <tr class="colum">
                    <td>1</td>
                    <td>Game of Throne</td>
                    <td>Jane smith</td>
                    <td>Johndoe007</td>
                    <td>Jame johnson</td>
                    <td>20/03/2567</td>
                    <td>21/03/2567</td>
                    <td class="text-success">returned</td>
                </tr>
                <tr class="colum">
                    <td>2</td>
                    <td>Harry Potter</td>
                    <td>Smith Sam</td>
                    <td>Billy Green</td>
                    <td>Jame johnson</td>
                    <td>22/03/2567</td>
                    <td>23/03/2567</td>
                    <td class="text-success">returned</td>
                </tr>
                <tr class="colum">
                    <td>3</td>
                    <td>Harry Potter2</td>
                    <td>Smith Sam</td>
                    <td>Billy Green</td>
                    <td>Jame johnson</td>
                    <td>24/03/2567</td>
                    <td>25/03/2567</td>
                    <td class="text-success">returned</td>
                </tr>
                <tr class="colum">
                    <td>4</td>
                    <td>NEW SCIENTIST: THE ORIGIN OF (ALMOST) EVERYTHING</td>
                    <td>Joel Clam</td>
                    <td>xamxan918</td>
                    <td>Jame johnson</td>
                    <td>22/03/2567</td>
                    <td>23/03/2567</td>
                    <td class="text-success">returned</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
       // Logout
       document.querySelector("#navbtn").onclick = function () {
            Swal.fire({
                title: "Are you sure for Logout?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#FF7070",
                cancelButtonColor: "#D6D6D6",
                confirmButtonText: "Logout!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/login";
                }
            });
        }
    </script>
</body>



</html>